@model IEnumerable<WebApp.Models.Departement>

@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Index";
}

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

    <div class="card py-4 px-4">
        <div class="table-responsive">
            <table class="table align-items-center mb-0" id="tableDepartement">
                <h3 style="float:left;">Data Departement</h3>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" style="float:right; position:relative;">
                    Tambah Data
                </button>
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">ID</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Nama</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Division ID</th>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <br />

<div class="card py-4 px-4">
  <h3 style="float:left;">Chart</h3>
  <div class="row">
        <div class="col m">
            <div class="card mb-3">
                <h6 style="float:left; padding:8px;">Pie Chart</h6>
                <div class="card-body p-3">
                    <div id="chartPie">

                    </div>
                </div>
            </div>
        </div>

        <div class="col">
                <div class="card mb-3">
                <h6 style="float:left; padding:8px;">Bar Chart</h6>
                    <div class="card-body p-3">
                        <div id="chartBar">

                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="card mx-3">
                    <h6 style="float:left; padding:8px;">Line Chart</h6>
                    <div class="card-body p-3">
                        <div id="chartLine">

                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

<!--   Modals   -->
    <div class="modal fade" id="detailModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                </div>
                <div class="modal-body">
                    <div id="detailData">

                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="editModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
            </div>
            <div class="modal-body">
                <div id="editData">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
            </div>
            <div class="modal-body">
               
                <input type="hidden" class="form-control" id="hideId">
                
                <h5>Nama Departement</h5>
                <input type="text" class="form-control" id="namaDepartement">
                
                <h5>Division ID</h5>
                <input type="text" class="form-control" id="divisionID">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editBtn" onclick="addDepartement()">Tambah Data</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DivisionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
